<form method="post" action="/memos/<%= @memo['id'] %>/edit">
  <main>
    <section>
        <h1><input type="text" value="<%= @memo['title'] %>" /></h1>
        <textarea><%= @memo['body'] %></textarea>
    </section>
  </main>
  <footer>
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="保存する" />
  </footer>
</form>